@font-face {
  font-family: 'heming';
  src: url('../assets/fonts/heming-variable.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'heming', sans-serif;
}
body,
html {
  min-height: 100dvh;

  line-height: 1.6;
  font-family: heming, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
